@if (course) {
<div class="" [ngClass]="{'beginner': false,'course-card':true}">
    
    <div class="course-title">
        {{ cardIndex }} {{ course.description }}
    </div>
    
    @if (isImageVisible()) {
        <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    } 
    @else {
        <p>No image is avaiable.</p>
    }
    
    <div class="course-description">
        {{ course.longDescription}}
    </div>
    
    <button (click)="onCourseViewed()">View course</button>

</div>
}