@if (course) {
<div class="course-card" >
    
    <div class="course-title">
        {{ cardIndex }} {{ course.description }}
    </div>
    
    @if (isImageVisible()) {
        <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    } 
    @else {
        <p>No image is avaiable.</p>
    }
    
    <div class="course-description">
        {{ course.longDescription}}
    </div>


    <div class="course-category">

        @switch (course.category) {
            @case ("BEGINNER") {
                <ng-container>
                    <div class="category">Beginner</div>
                </ng-container>
            }
            @case ("INTERMEDIATE") {
                <div class="category">Intermediate</div>
            }
            @case ("ADVANCED") {
                <div class="category">Advanced</div>
            }
            @default {
                <div class="category">All levels</div>    
            }
        }

    </div>
    
    <button (click)="onCourseViewed()">View course</button>

</div>
}